{% extends "base.html" %}

{% block content %}
<div class="container card shadow-lg mt-5">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Sr.No</th>
                <th scope="col">Action</th>
                <th scope="col">Product</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Qty</th>
                <th scope="col">Total</th>
            </tr>

        </thead>
        <tbody>
            {% for cartitems in carts.cart_items.all %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a class="btn btn-danger" href="{% url 'remove_cart_items' cartitems.uid %}"><i class="fa-solid fa-trash"></i></a></td>
                <td><img src="/media/{{cartitems.pizza.images}}" style="height: 100px; width: 100px;"></td>
                <td>{{cartitems.pizza.pizza_name}}</td>
                <td>{{cartitems.pizza.price}}</td>
                <td>1</td>
                <td>{{cartitems.pizza.price}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><b>Grand Total</b>
                    <br>
                    <p>{{carts.get_cart_total}}</p>
                    <a href="{{payment_url}}" class="btn btn-primary">PayNow</a>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>

{% endblock %}